html {
    font-size: 10px;
    font-family: courier,arial,helvetica;
}

body {
    background-color: rgb(253, 137, 137);
    font-size: 1.5rem;
}
@media only screen and (max-width: 600px) {
    #header {width: 40%;}
    #main {width: 40%;}
}
header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: red;
    border-bottom: 10px double black;
}
nav {
    font-size: 2rem;
    font-weight: bold;
    float: right;
    color: white;
}

nav > a {
    color: white;
    text-decoration: none;
}

nav> a:hover {
    color: black;
}
main {
    margin-top: 200px;
    margin-bottom: 50px;
    padding-bottom: 20px;
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: red;
    color: white;
    font-size: 1.5rem;
}
h1 {
    font-size: 3rem;
    font-weight: bold;
}
.explain {
    font-size: 2rem;
    font-weight: bold;
    background-color: rgb(253, 137, 137);
    margin: 50px 50px;
}

.advantages {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-decoration: underline;
    font-style: italic;
}

.advantages > li {
    margin: 5px;
    padding: 5px;
    font-size: 1.9rem;
    background-color: white;
    color: black;
    width: 300px;
}

h2 {
    font-size: 2rem;
    margin: 50px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.w3container {
    background-color: rgba(255, 170, 170, 0.692);
    font-size: 3.2rem;
    border: 5px dashed black;
    border-radius: 10px;
}